<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">NEW BOOK</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="profileForm" #ngform class="example-form">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="enter id " formControlName="id" required>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="enter path for image" formControlName="pic">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="please enter title" formControlName="title" required>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="please enter authors" formControlName="authors" required>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input type="date" matInput placeholder="please enter Published" formControlName="Published" required>
          </mat-form-field>
        </form>
      </div>

      <div *ngIf="isSaved" class="alert alert-success mmesage">
        <strong>DONE</strong> DONE.
      </div>
      <div *ngIf="isError" class="alert alert-danger mmesage  ">
        <strong>Error</strong> Sorry this book name exsist!.
      </div>
      <div *ngIf="errormsg" class="alert alert-danger mmesage  ">
        <strong>Error</strong> date not vslid,the date is biger then today.
      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">Close</button>
        <button type="button" [disabled]="!profileForm.valid" (click)="saveBook(profileForm)" class="btn btn-primary">Save changes</button>
      </div>

    </div>
  </div>
</div>